
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

// /* Here are all css variables to use through out the project*/



// // $mainFont: "Poppins", sans-serif;


// // font size
// $smallFontSize: 1.4rem;
// $mediumFontSize: 1.6rem;
// $largeFontSize: 2rem;
// $headerFontSize: 2.4rem;
// $mainHeaderFontSize: 3.2rem;

// $letterSpacing:0.2rem;

// // font weight
// $lighterFW: 200;
// $lightFW: 300;
// $regularFW: 400;
// $boldFW: 500;
// $bolderFW: 600;
// $boldestFW: 700;


// // colors
// $fontColor: #000000;
// $backgroundLightPurple: #F0EFFD;
// $backgroundWhite: #FFFFFF;

// $whiteFontColor: #FFFFFF;
// $grayFontColor: #5A5A5A;
// $softGreen:  #B5E2A8;
// $lightlightGreen: #F3FAF0;
// $bgLightPurple: #F0EFFD;
// $btnpurple: #6563EB;
// $inputfieldcolor: #F1F1F1;